doctype html
meta(name="viewport",content="width=device-width, initial-scale=1.0")
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/nearestStores.css')
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css',
            integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==',
            crossorigin=)
        script(src = 'https://unpkg.com/leaflet@1.6.0/dist/leaflet.js',
            integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==',
            crossorigin='')

block content
    div#heading
        h1 Stores closest to #{postcode}
    div#map
        div#map_canvas(style="width:100%; height:400px")
        script.
            var map_closest = L.map('map_canvas').setView(["#{p_lat}", "#{p_long}"], 12);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: "#{MAPBOX_KEY}"
            }).addTo(map_closest);

            var lat;
            var long;
            var name;
            var address;

            lat = "#{closest_stores[0].lat}";
            long = "#{closest_stores[0].long}";
            var marker0 = L.marker([lat, long]).addTo(map_closest);
            name = "#{closest_stores[0].name}";
            address = "#{closest_stores[0].address}";
            marker0.bindPopup("<b>" + name + "</b><br>" + address + "<br><a href='/stores/#{closest_stores[0].id}' target='_blank'>More Info</a>");

            lat = "#{closest_stores[1].lat}";
            long = "#{closest_stores[1].long}";
            var marker1 = L.marker([lat, long]).addTo(map_closest);
            name = "#{closest_stores[1].name}";
            address = "#{closest_stores[1].address}";
            marker1.bindPopup("<b>" + name + "</b><br>" + address + "<br><a href='/stores/#{closest_stores[1].id}' target='_blank'>More Info</a>");

            lat = "#{closest_stores[2].lat}";
            long = "#{closest_stores[2].long}";
            var marker2 = L.marker([lat, long]).addTo(map_closest);
            name = "#{closest_stores[2].name}";
            address = "#{closest_stores[2].address}";
            marker2.bindPopup("<b>" + name + "</b><br>" + address + "<br><a href='/stores/#{closest_stores[2].id}' target='_blank'>More Info</a>");

            lat = "#{closest_stores[3].lat}";
            long = "#{closest_stores[3].long}";
            var marker3 = L.marker([lat, long]).addTo(map_closest);
            name = "#{closest_stores[3].name}";
            address = "#{closest_stores[3].address}";
            marker3.bindPopup("<b>" + name + "</b><br>" + address + "<br><a href='/stores/#{closest_stores[3].id}' target='_blank'>More Info</a>");

            lat = "#{closest_stores[4].lat}";
            long = "#{closest_stores[4].long}";
            var marker4 = L.marker([lat, long]).addTo(map_closest);
            name = "#{closest_stores[4].name}";
            address = "#{closest_stores[4].address}";
            marker4.bindPopup("<b>" + name + "</b><br>" + address + "<br><a href='/stores/#{closest_stores[4].id}' target='_blank'>More Info</a>");

    div#store_list
        h3 List of nearby stores
        each store in closest_stores
            div(class="store-details")
                a(class="store-link" href="/stores/" + store.id) #{store.name}
                p #{store.address}
                - var formatted_rating = store.rating.toFixed(2);
                p Rating: #{formatted_rating}%
                br
