doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/nearestStores.css')

block content
    div#heading
        h1 Stores closest to #{postcode}
    div#closest_map
        mixin google-map-view(center, zoom, key)
            - maptype = "roadmap";
            - src = `https://google.com/maps/embed/v1/view?key=${key}&center=${center}&zoom=${zoom}&maptype=${maptype}`
            iframe(frameborder="0"
                width="100%"
                height="450"
                src=`${src}`)
        - p_coords = p_lat + "," + p_long;
        +google-map-view(p_coords, 13, "AIzaSyDyB-JHeX5-lGAklEsl4vpZvayACIcGX6k")


    div#store_list
        h3 List of stores closest to #{postcode}
        each store in closest_stores
            div(class="store-details")
                a(class="store-link" href="/stores/" + store.id) #{store.name}
                p #{store.address}
                - var formatted_rating = store.rating.toFixed(2);
                p Rating: #{formatted_rating}%
                br
