extends layout

block content
    div#closest_map
        h3 Map of your closest stores
        mixin google-map-view(center, zoom, key)
            - maptype = "roadmap";
            - src = `https://google.com/maps/embed/v1/view?key=${key}&center=${center}&zoom=${zoom}&maptype=${maptype}`
            iframe(frameborder="0"
                width="50%"
                height="450"
                src=`${src}`)
        - p_coords = p_lat + "," + p_long;
        +google-map-view(p_coords, 13, "AIzaSyDyB-JHeX5-lGAklEsl4vpZvayACIcGX6k")


    div#store_list
        h3 List of your closest stores
        p #{closest_stores}

