extends layout

block content
    head
        title= title
    body
        h1 storename is #{title}
        h1= accurateYes
        h1= accurateNo
        h2 #{percent}% of users found Pantracker accurate for this store
        button(type='button') Yes
        button(type='button') No