doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/storePage.css')
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
        script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')

block content
    div#heading
        h1 #{name}
    div#wrapper
        div#details
            h2 #{name}
            p Address: #{address}
            #p1 Opening hours today:
            h2 Store Rating
            - var formatted_percent = percent.toFixed(2);
            p #{formatted_percent}% of users found what they were looking for at this store!
            p Did you find what you were looking for at this store?
            div#buttons
                a(class="button", href="/stores/" + id + "/plus") Yes
                a(class="button", href="/stores/" + id + "/minus") No
            h2 Other nearby stores
            each store in closest_stores
                div(class="store-details")
                    a(class="store-link" href="/stores/" + store.id) #{store.name}
                    p #{store.address}
                    - var formatted_rating = store.rating.toFixed(2);
                    p Rating: #{formatted_rating}%
                    br

        div#map-container
            h3 Map of store
            div#map-canvas(style='width: 1000px; height: 400px;')
            script.
                var storeMap = L.map('map-canvas').setView([lat, long], 13);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/satellite-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: MAPBOX_KEY
                }).addTo(storeMap);
                var store_marker = L.marker([lat, long]).addTo(storeMap);
                store_marker.bindPopup(name).openPopup();